:root {
    /*font-size: 16px;*/
    font-family: Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-primary-op: #23232e8e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --bg-offset-x: 0;
    --bg-offset-y: 0;
}

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background {
    background-position: var(--bg-offset-x) var(--bg-offset-y);
    background-image: url('../assets/templates/background_grass_6.png');
    background-repeat: repeat;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* main canvas for the map*/
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#panel-buttons {
    width: 100%;
    padding: 7px;
    position: fixed;
    top: 0;
    border-bottom: 2px solid #3a3a50;
    display: flex;
    flex-direction: row;
    background: #707183e8;
}

#panel-buttons #panel-buttons-interaction {
    flex: 1;
    display: flex;
    justify-content: center;
}

#button-close-interaction {
    background-color: #ff5d5d !important; 
}

#panel-buttons #group-right {
    display: flex;
    flex-direction: row;
}

#panel-buttons button,
#textchat-bar button,
#interactive-bar button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: opacity var(--transition-speed);
    font-size: 110%;
    font-weight: bold;
    margin: 5px;
    color: #3a3a50;
    background: #f8f8f8;
    border: 0;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px #999;
}

#panel-buttons button:hover,
#textchat-bar button:hover,
#interactive-bar button:hover{
    background-color: #dddddd;
}

#panel-buttons button:active,
#textchat-bar button:active,
#interactive-bar button:active{
    background-color: #cccccc;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#panel-buttons button span,
#textchat-bar button span,
#interactive-bar span {
    display: none;
    position: absolute;
    background: rgba(248, 248, 248, 0.8);
    font-size: x-small;
    padding: 4px;
    border-radius: 5px;
    top: 36px;
    left: 16px;
}

#panel-buttons button:hover span,
#textchat-bar button:hover span,
#interactive-bar button:hover span {
    display: block;
}

#panel-buttons button span:after,
#textchat-bar button span:after,
#interactive-bar button span:after {
    transition: 0.5s;
    right: 0;
}

#button-mute-audio:hover span:after {
    content: '  Microphone'
}

#button-mute-video:hover span:after {
    content: '  Webcam';
}

#button-share-video:hover span:after {
    content: '  Screenshare';
}

#button-interact:hover span:after {
    content: '  Interact';
}

#button-settings:hover span:after {
    content: '  Settings';
}

#button-users:hover span:after {
    content: '  Users';
}
#button-textchat:hover span::after {
    content: '  Chat';
}

#button-logout:hover span::after {
    content: '  Logout';
}

#button-login:hover span::after {
    content: '  Login';
}

#button-help:hover span:after {
    content: '  Help';
}

#close:hover span:after {
    content: '  Close';
}

#button-send:hover span:after {
    content: '  Send';
}

#button-close-interaction span:after {
    content: '  Exit';
}

#button-send {
    position: relative;
    padding-right: 5px;
    left: 84.3%;
    bottom: 5px;
}

#button-chess-export:hover span:after {
    content: '  Export Game to Clipboard'
}

#button-chess-import:hover span:after {
    content: '  Import Game from Clipboard'
}

#panel-buttons button:hover span:after {
    opacity: 1;
    transition: 0.5s;
    padding-top: -5px;
}

#panel-buttons select {
    float: right;
    margin-right: 3%;
}

#settings-modal form {
    overflow: hidden;
}

#settings-modal label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

#settings-modal input,
#settings-modal select {
    float: left;
    width: calc(100% - 200px);
}

#settings-body {
    display: flex;
    justify-content: center;
}

#character-preview {
    margin: 0 auto;
}

#help-body p {
    font-size: large;
    display: inline-block;
}

#help-body img {
    margin-right: 10px;
}

#welcome-body {
    font-size: large;
    display: inline-block;
}
.modal-bs-title {
    margin-top: 0.5rem;
}

.key {
    background-image: url('../assets/keys/KeysExtended.png');
}

.key-small {
    width: 32px;
    height: 32px;
}

.key-medium {
    width: 48px;
    height: 32px;
}

.key-long {
    width: 64px;
    height: 32px;
}

#stats-bar {
    display: flex;
    text-align: center;
    position: fixed;
    top: 0;
    margin: 12% auto;
}

#video-bar {
    width: 100%;
    position: fixed;
    top: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: relative;
}

#video-bar .video-container {
    width: 100%;
    max-width: 15%;
    min-width: 0;
    height: 720;
    width: 480;
    margin-left: 50px;
    flex-shrink: 1;
    overflow: hidden;
}

.video-container video {
    z-index: 0;
    max-width: 100%;
    min-width: 0;
    cursor: pointer;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
}

.video-overlay {
    z-index: 1;
    min-width: 0;
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-video-toggle-size {
    position: absolute;
    bottom: 45px;
    right: 0;
    margin: 5px;
}

#focus-bar {
    width: 100%;
    position: fixed;
    top: 90px;
    text-align: center;
}

#focus-bar .video-container {
    margin: 10% auto;
    max-width: 65%;
}

#focus-bar video {
    height: 65vh;
}

#interactive-bar {
    align-items: center;
    justify-content: center;
}

#interactive-bar p{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    font-weight: bolder;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#interactive-bar iframe {
    margin-top: 15%;
    margin-left: 20%;
    width: 1280px;
    height: 720px;
    width: 60%;
    height: 60%;
    position: absolute;
}

#interactive,
#interactive-whiteboard-canvas,
#interactive-chess-canvas,
#interactive-pong-canvas {
    position:absolute;
    z-index: 1;
    width: 60%;
    visibility: hidden;
    border: 5px black;
}

#backpack {
    position:absolute;
    margin-top: 15%;
    z-index: 1;
    width: 60%;
    height: 60%;
    visibility: hidden;
    border: 5px black;
}

#interactive-whiteboard-wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: inherit;
}

#interactive-bar-whiteboard-wrapper {
    height: 100vh;
    position: relative;
    right: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interactive-bar-whiteboard {
    display: inline-grid;
    position: relative;
    height: 602px;
}

#interactive-bar button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
    position: relative;
    margin: 5px;
    color: #3a3a50;
    background: #f8f8f8;
    border: 2px solid;
    border-radius: 10px;
    z-index: 1;
    visibility: hidden;
}

#interactive-bar-chess{
    position: absolute;
    top: 30%;
    right: 30%;
    visibility: hidden;
    display: flex;
}

#interactive-bar-chess button {
    position: unset;
}

#whiteboard {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    visibility: hidden;
    height: 80%;
}

.player-state {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player-state-name {
    padding-left: 10px;
    font-weight: bolder;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.player-state-avatar {
    margin: 5px 10px 5px 4px;
}

.player-avatar {
    background-repeat: no-repeat;
    width: 48px;
    height: 96px;
    background-position: calc(-3 * 48px) 0;
}

#player-online-container {
    position: fixed;
    background-color: var(--bg-primary-op);

    transition: width 600ms ease, height 500ms ease;
    overflow: hidden;
}

#player-online-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#player-online-list::-webkit-scrollbar {
    display: none; /*chrome*/
  }

#player-online-list .player-state {
    width: 100%;
}

#player-online-list .player-state-name,
#player-online-list .player-state-mute {
    padding-top: 25px;
    color: white;
    font-size: 200%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: black;
    margin: 5px 10px 5px 0;
}

#textchat-container {
    position: fixed;
    background-color: var(--bg-primary-op);

    transition: width 600ms ease, height 500ms ease;
    overflow: hidden;
}

#textchat-bar {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#chat-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

#chat-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.chat-list-item {
    font-size: 200%;
    background-color: rgba(212, 212, 212, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-list-item-message {
    margin-left: 10px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    #player-online-container {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    #player-online-list {
        flex-direction: row;
    }

    #textchat-container {
        bottom: 0;
        width: 100vm;
        height: 5rem;
    }

    #textchat-container {
        flex-direction: row;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    #player-online-container {
        right: 0;
    }

    #player-online-container.horizontal-animation {
        bottom: 0;
        width: 0;
        height: calc(100vh - 64px);
    }

    #player-online-container.vertical-animation {
        top: 64px;
        width: 36rem;
        height: 0;
    }

    #player-online-container.hover.horizontal-animation {
        width: 36rem;
    }

    #player-online-container.hover.vertical-animation {
        height: calc(100vh - 64px);
    }

    #textchat-container {
        right: 0;
    }

    #textchat-container.horizontal-animation {
        bottom: 0;
        width: 0;
        height: calc(100vh - 64px);
    }

    #textchat-container.vertical-animation {
        top: 64px;
        width: 36rem;
        height: 0;
    }

    #textchat-container.hover.horizontal-animation {
        width: 36rem;
    }

    #textchat-container.hover.vertical-animation {
        height: calc(100vh -64px);
    }

}
#help-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#help-interaction {
    margin-left: 5%;
    margin-bottom: 3%;
    transition: opacity var(--transition-speed);
}

#help-interaction span {
    font-size: 30px;
    font-weight: bolder;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#help-interaction img {
    margin-bottom: 15px;
    margin-right: 10px;
}

#loading-screen {
    position: fixed;
    transition: 0.5s;
    background-color: #d0be9c;
    visibility: visible;
    display: flex;
    height: 100%;
    width: 100%;
}

#loading-cat {
    position: fixed;
    bottom: 0vh;
    right: 0vh;
    margin-bottom: 60px;
    height: 10%;
    visibility: visible;
    transition: 0.5s;
}

@font-face {
    font-family: MobileFont;
    src: url(../assets/fonts/MobileFont.ttf);
}

#menu-bar {
    width: 100%;
    padding: 10px;
}
#menu-bar button {
    color: black;
    background-color: #f8f8f8;
    border-radius: 10px;
}
#chat-list, #user-list {
    display: inline;
}
#chat-list button{
    width: 80%;
    height: 40px;
}
#user-list button{
    width: calc(20% - 5px);
    height: 40px;
}
#user-list li {
    list-style-type: none;
}
#user-list label {
    height: 32px;
}
#user-list ul {
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}
#user-list .dropdown-menu {
    transform: translate(1px, 32px) !important;
    min-width: 300%;
}
#user-list div{
    float: left;
}
#chat-list .dropdown-menu {
    min-width: 100%;
    width: 100%;
}
#chat-list li {
    display: inline-grid;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
#chat-list i {
    margin: 3px;
    display: inline-block;
    position: absolute;
    right: 10px;
    background-color: white;
    color: grey;
}

#chat-list i:hover {
    cursor: pointer;
}

#chat-list a {
    padding-right: 20px;
}

#select-textchat{
    float: left;
    width: 80%;
}
#select-users {
    width: 20%;
}
#typing-field {
    resize: none;
    width: 80%;
    position: inherit;
    margin-left: 3%;
    height: 60px;
}

#messages-bar {
    width: 90%;
    overflow-wrap: break-word;
    margin: 3%;
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 5px;

}

#message-line {
    color: black;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

#message-time {
    color: gray;
    overflow: visible;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

#textchat-container input {
    width: 1em;
    margin-right: 10px;
    float: left;
}

.sent-message,
.received-message {
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    color: #000;
    margin: 10px;
}

.received-message {
    background: #fff;
}

.sent-message {
    background: lightsteelblue;
}

.received-message:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 10px;
    bottom: -14px;
}

.sent-message:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 15px solid lightsteelblue;
    border-top: 12px solid lightsteelblue;
    border-bottom: 20px solid transparent;
    right: 10px;
    bottom: -14px;
}

.modal-header {
    background-color: #fffffff2;
}

.modal-body {
    background-color: #fffffff2;
}

.modal-footer {
    background-color: #fffffff2;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0);
}