#settings {
    display: flex;
    /*justify-content: center;*/
}

#settings form {
    overflow: hidden;
}

#settings label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

#settings input,
#settings select {
    float: left;
    /*width: calc(100% - 200px);*/
}
