.video-container {
    /*position: relative;*/
    display: inline-block;
    /*float: left;*/
    width: 15%;
}

.video-container video {
    /*position: relative;*/
    z-index: 0;
    width: 100%;
}

.video-overlay {
    font-size: 200%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 1;
}
