body {
    background-color: white;
    margin: 0;
    font-family: Arial;
}

#panel-buttons {
    width: 100%;
    background-color: gray;
    padding: 10px;
    position: fixed;
    top: 0;
}

#player-nearby-indicator {
    display: inline;
}

#video-bar {
    width: 100%;
    position: fixed;
    top: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-bar .video-container {
    width: 100%;
    max-width: 15%;
    min-width: 0;
    margin-right: 5px;
    flex-shrink: 1;
    overflow: hidden;
}

.video-container video {
    z-index: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.video-overlay {
    z-index: 1;
    min-width: 0;
}

.video-overlay p {
    font-size: 100%;
    margin: 0;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    
}

#focus-bar {
    width: 100%;
    position: fixed;
    top: 48px;
    text-align: center;
}

#focus-bar .video-container {
    margin: 10% auto;
    max-width: 70%;
}
