body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

#panel-buttons {
    width: 100%;
    background-color: gray;
    padding: 10px;
    position: fixed;
    top: 0;
}

#player-nearby-indicator {
    display: inline;
}

#video-bar {
    width: 100%;
    position: fixed;
    top: 48px;
    text-align: center;
    display: flex;
}

#big-video-bar {
    width: 100%;
    position: fixed;
    top: 48px;
    text-align: center;
}

.video-container {
    /*position: relative;*/
    /*display: inline-block;*/
    /*float: left;*/
    width: 100%;
    max-width: 15%;
    min-width: 0;
    margin-right: 5px;
    flex-shrink: 1;
    overflow: hidden;
}

.video-container video {
    /*position: relative;*/
    z-index: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.video-overlay {
    font-size: 200%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 1;
    min-width: 0;
}
