<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="auth.css">
        <title>Sign Up</title>
        <script>
            function validateForm() {
                const password1 = document.getElementById("password").value;
                const password2 = document.getElementById("password-confirmation").value;
                let entered = password1 !== "";
                let confirmed = password2 !== "";
                let match = password1 === password2;
                document.getElementById("error-mismatch").style.visibility = match ? "hidden" : "visible";
                return entered && confirmed && match;
            }
        </script>
    </head>
    <body class="container">
        <form name="signup" action="/auth/signup" method="post" onsubmit="return validateForm()">
            <div class="container">
                <div>
                    <label for="username"><strong>Username</strong></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username"
                           autocomplete="username" required />
                    <% if (!!error) { %>
                        <small id="error-user" style="color: red;"><%= error; %></small>
                    <% } %>
                </div>
                <div>
                    <label for="password"><strong>Password</strong></label>
                    <input id="password" type="password" placeholder="Enter Password" name="password"
                           autocomplete="new-password" required oninput="validateForm()" />
                </div>
                <div>
                    <label for="password-confirmation"><strong>Confirm Password</strong></label>
                    <input id="password-confirmation" type="password" placeholder="Reenter Password" name="password"
                           autocomplete="new-password" required oninput="validateForm()" />
                    <small id="error-mismatch" style="color: red; visibility: hidden;">Passwords do not match</small>
                </div>
                <div>
                    <input type="submit" value="Sign Up" />
                    <button onclick="window.location='/auth/login';">Login</button>
                </div>
            </div>
        </form>
    </body>
</html>
